{% extends "base.html" %}
{% block content %}

<h2>{{category}}</h2>

<form method="get">
    <input type="text" name="search" placeholder="Search documents..." value="{{search}}">
</form>

<br>

{% for f in files %}

<div class="card">

<b>{{f.filename}}</b>

<p>Uploaded: {{f.time}}</p>

<p>Confidence: {{f.percent}}%</p>

<div class="progress">
    <div class="bar {{f.color}}" style="width:{{f.percent}}%"></div>
</div>

<p>{{f.preview}}</p>

<br>

<!-- 🔥 VIEW PAGE (FIXED) -->
<a href="/view/{{category}}/{{f.filename}}?source=category">📂 Open</a>
|
<a href="/download/{{category}}/{{f.filename}}">⬇ Download</a>

</div>

{% endfor %}

<br>

<a href="/categories">← Back</a>

{% endblock %}
