{% extends "base.html" %}
{% block content %}

<h2>Upload Document</h2>

<!-- STEP 1: Upload -->
<form method="post" enctype="multipart/form-data">
    <input type="file" name="file" required>
    <button type="submit">Upload</button>
</form>

{% if category %}

<!-- STEP 2: RESULT -->
<div class="card">

<h3>Prediction Result</h3>

<p><b>File:</b> {{filename}}</p>
<p><b>Predicted Category:</b> {{category}}</p>
<p><b>Confidence:</b> {{percent}}%</p>

<div class="progress">
    <div class="bar {{color}}" style="width:{{percent}}%"></div>
</div>

</div>

<!-- STEP 3: REQUEST CORRECTION -->
<div class="card">

<h3>Request Correction</h3>

<form method="post" action="/request_review">

<input type="hidden" name="filename" value="{{filename}}">
<input type="hidden" name="category" value="{{category}}">

<textarea name="message" placeholder="Explain why this is wrong..." required style="width:100%;height:80px;"></textarea>

<br><br>

<button type="submit">Send to Admin</button>

</form>

</div>

{% endif %}

{% endblock %}
